<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Landing Page</title>
</head>
<body id="landing-page-body">
    
    <form action="/attraction_search" class="search-bar" method="post">
        <input type="text" value="search location">
        <button class="search-btn">Search</button>
    </form>

</body>
</html>

