<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>HereI</title>
</head>
<body>
    <div class="backgroundImg">
        <nav class="navbar">
            <% if (link === 'Login') { %>
                <a class="nav-link" href="/users/login"><%= link %></a> 
            <% } else { %>
                <a class="nav-link" href="/users/logout"><%= link %></a> 
            <% } %>
        </nav>

        <div class="search-wrapper">
            <div class="index-welcome">
                <h3 class="index-title">Explore the attractions of the world.</h3>
            </div>
            <div class="travel-png">
                <img src="./img/travel.png" alt="">
            </div>
            <form class="search-form" action="/attractions" class="search-bar" method="get">
                <input class="search-input" type="text" placeholder="Search location..." name="search">
                <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

        <div class="phone-png">
            <img src="./img/maps-mobile.png" alt="">
        </div>
    </div>
</body>
</html>

