<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Document</title>
</head>
<body>
    <h2>User Login</h2>
    <form action="/user/login" class="user-login" method="post">
        <div><input type="email" class="user-email" name="user-email" value="email" required></div>
        <div><input type="password" class="user-password" name= "user-password" value ="password" required></div>
        <div><button class="login-btn" type="submit" value="login">Login</button></div>
    </form>

    <a href="/user/new" class="user-new">Create Profile</a>

</body>
</html>