<!DOCTYPE html>
<html>
<head>
    <title>Book an attraction</title>
    <meta charset="utf-8" />
    <script type='text/javascript'
            src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Ai6kjZ8JZcqV36UM9OEvjseI4oJVHLvlsg2SwGuy5SocofXLi7bpP17hAtwaBKht' 
            async defer>
    </script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/searchmap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="containerWrapper">
        <div class="resultsLeftSide">
            <div class="left-side-tittle">
                Places to experience
            </div>

            <div class="btn-wrapper">
                    <button class="attraction-results-btn">Attractions</button>
                    <button class="user-sessions-results-btn">Upcoming sessions</button>
            </div>

            <div class="user-view-attraction">
                    
            </div>

            <div class="user-view-selection">
                    <h1>Hello</h1>
            </div>

        </div>

        <div class="mapRightSide">
            <form class="searchAttraction">
                <input class="search-input" type="text" placeholder="Search location..." name="search">
                <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
            </form>
            <div id="bingMap"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/rendermap.js"></script>
    <script src="../js/search.js"></script>
</body>
</html>