<!DOCTYPE html>
<html>
<head>
    <title>Book an attraction</title>
    <meta charset="utf-8" />
    <script type='text/javascript'
            src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Ai6kjZ8JZcqV36UM9OEvjseI4oJVHLvlsg2SwGuy5SocofXLi7bpP17hAtwaBKht' 
            async defer>
    </script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/searchmap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="containerWrapper">
        <div class="resultsLeftSide">
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum corrupti eos cum  eius rem deserunt incidunt aliquid repellat ab ducimus, asperiores qui placeat optio eligendi non nam hic sit animi!</h4><br> 
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum corrupti eos cum  eius rem deserunt incidunt aliquid repellat ab ducimus, asperiores qui placeat optio eligendi non nam hic sit animi!</h4><br> 
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum corrupti eos cum  eius rem deserunt incidunt aliquid repellat ab ducimus, asperiores qui placeat optio eligendi non nam hic sit animi!</h4><br> 
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum corrupti eos cum  eius rem deserunt incidunt aliquid repellat ab ducimus, asperiores qui placeat optio eligendi non nam hic sit animi!</h4><br> 
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum corrupti eos cum  eius rem deserunt incidunt aliquid repellat ab ducimus, asperiores qui placeat optio eligendi non nam hic sit animi!</h4><br> 
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum corrupti eos cum  eius rem deserunt incidunt aliquid repellat ab ducimus, asperiores qui placeat optio eligendi non nam hic sit animi!</h4><br> 
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum corrupti eos cum  eius rem deserunt incidunt aliquid repellat ab ducimus, asperiores qui placeat optio eligendi non nam hic sit animi!</h4><br> 
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum corrupti eos cum  eius rem deserunt incidunt aliquid repellat ab ducimus, asperiores qui placeat optio eligendi non nam hic sit animi!</h4><br> 
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum corrupti eos cum  eius rem deserunt incidunt aliquid repellat ab ducimus, asperiores qui placeat optio eligendi non nam hic sit animi!</h4><br>             
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum corrupti eos cum  eius rem deserunt incidunt aliquid repellat ab ducimus, asperiores qui placeat optio eligendi non nam hic sit animi!</h4><br> 
        </div>

        <div class="mapRightSide">
            <form class="searchAttraction">
                <input type="text" placeholder="Search location..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <div id="bingMap"></div>
        </div>
    </div>
    <script src="../js/rendermap.js"></script>
</body>
</html>