* { 
    /* border: 1px solid red; */
    font-family: 'Roboto', sans-serif;
}

html {
    overflow: hidden;
}

.containerWrapper {
    display: flex;
}

.resultsLeftSide {
    flex: 2.5;
    padding: 20px;
    max-height: 100vh;
    overflow: scroll;
    position: sticky;
    overflow-x: hidden; 
}

.left-side-tittle {
    margin-bottom: 40px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
}

.attraction {
    display: flex;
    padding: 40px 0;
    border-bottom: 2px solid #f1f1f1;
}

.attraction-image {
    flex: 2.5;
    padding-right: 10px;
}

.attraction-image img {
    height: 100%;
    object-fit: cover;
    max-height: 155px;
}

.attraction-details {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.attraction-title {
    font-size: 22px;
    padding-bottom: 10px;
}

.attraction-description {
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}

.attraction-bottomWrapper {
    display: flex;
}

.attraction-sessions {
    flex: 4;
    margin: 0;
    display: flex;
    align-items: flex-end;
}

.attraction-price {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.price-per {
    font-size: 14px;
    font-weight: 400;
}

.attraction-session-book {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    background-color: #2196F3;
    border: 1px #2196F3;
    color: white;
    font-weight: 600;
}

.attraction-session-book:hover {
    background-color: #8e8e8e;
    cursor: pointer;
}

form.searchAttraction button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
}

form.searchAttraction button:hover {
    background: #0b7dda;
}

form.searchAttraction::after {
    content: "";
    clear: both;
    display: table;
}

.mapRightSide {
    flex: 6;
    max-height: 100%;
}

#bingMap {
    height: calc(100vh - 40px);
}

#bingMap:hover {
    cursor: pointer;
}

#bingMap:active {
    cursor: grab;
}

form.searchAttraction input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

